@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .toast {
    background-image: url("../../src/images/underline.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 7px;
  }
}
